streamlit
PyPDF2
faiss-cpu
langchain>=0.3.0
langchain-core>=0.3.0
langchain-community>=0.3.0
langchain-groq>=0.1.0
langchain-text-splitters>=0.3.0
sentence-transformers
transformers
python-dotenv
